<header>
  <nav class="navbar navbar-expand-lg fixed-top navbar-light bg-light justify-content-between">
    <a class="navbar-brand" href="/">Best Card Game Ever</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle active-game" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Games !
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item active-game" href="/">Game 1</a>
            <a class="dropdown-item active-game" href="/">Game 2</a>

            <% if (username !== undefined) { %>
              <div class="dropdown-divider"></div>
              <a class="nav-link" href="/users/archive">archive</a>
            <% } %>

          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/leaderboard">Leaderboard</a>
        </li>
      </ul>

      <% if (username === undefined) { %>
        <div id="username">guest</div>
        <form class="form-inline" action="/users/login">
            <button class="btn btn-outline-danger" type="submit">Log in</button>
        </form>
        <form class="form-inline" action="/users/register">
            <button class="btn btn-outline-danger" type="submit">Register</button>
        </form>
      <% } else { %>
        <span class="navbar-text username">
          Logged in as: <div id="username"><%= username %></div>
        </span>
        <form class="form-inline" action="/users/logout" method="POST">
          <button class="btn btn-outline-danger" type="submit">Logout</button>
        </form>
      <% } %>



    </div>
  </nav>
</header>
