<header>
  <nav class="navbar navbar-expand-lg fixed-top navbar-light bg-light justify-content-between">
    <a class="navbar-brand" href="/">Best Card Game Ever</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle active-game" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Active Games
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item active-game" href="/">Game 1</a>
            <a class="dropdown-item" href="/">Game 2</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/">Leaderboard</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/">Archive</a>
        </li>
      </ul>
      <span class="navbar-text username">
        Logged in as: User1
      </span>
      <form class="form-inline">
        <button class="btn btn-outline-danger" type="button">Logout</button>
      </form>
    </div>
  </nav>
</header>
