<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Home Page</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
    <link rel="stylesheet" href="/styles/crazy.css" type="text/css" />
    <link rel="stylesheet" href="/styles/header.css" type="text/css" />


    <!-- Scripts for Bootstrap -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

    <!-- Imported Scripts -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.4.5/socket.io.min.js"></script>

    <!-- Local Scripts -->
    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/cardImage.js"></script>
    <!-- <script type="text/javascript" src="/scripts/goof-client.js"></script> -->
    <!-- <script type="text/javascript" src="/scripts/app.js"></script> : DISABLED UNTIL REIMPLEMENTATION -->

    <!-- Font -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/cfe976dd3c.js" crossorigin="anonymous"></script>
  </head>

  <body>
    <%- include('./partials/_header'); -%>

    <!-- Winner pop-up -->
    <!-- <div class='pop-up'>
      <div class="card">
        <div class="card-body">
          <h1 class="card-title">You Won!</h1>
          <img src='/images/graphics/face.png' />
          <button type="submit" class="btn btn-danger">Play Again</button>
          <a href='/' type="submit" class="btn btn-danger">Go Back</a>
        </div>
      </div>
    </div> -->

    <!-- Loser pop-up -->
    <!-- <div class='pop-up'>
      <div class="card">
        <div class="card-body">
          <h1 class="card-title">You Lost!</h1>
          <img src='/images/graphics/sad.png' />
          <button type="submit" class="btn btn-danger">Play Again</button>
          <a href='/' type="submit" class="btn btn-danger">Go Back</a>
        </div>
      </div>
    </div> -->

    <!-- Crazy 8 Modal -->
    <div class='pop-up'>
      <div class="card">
        <div class="card-body">
          <h1>Pick a Suite</h1>
          <div class='row'>
            <div class='col'>
              <a href='#'><img src='/images/graphics/spade.png' /></a>
            </div>
            <div class='col'>
              <a href='#'><img src='/images/graphics/clubs.png' /></a>
            </div>
            <div class="w-100"></div>
            <div class='col'>
              <a href='#'><img src='/images/graphics/heart.png' /></a>
            </div>
            <div class='col'>
              <a href='#'><img src='/images/graphics/diamond.png' /></a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class='board'>

      <div class='p2-hand row id=p2_hand'>
        <div class="cards" value="0" style="z-index: 0">
          <img src="/images/cards/AH.png">
        </div>
        <div class="cards" value="1" style="z-index: 1">
          <img src="/images/cards/2H.png">
        </div>
        <div class="cards" value="2" style="z-index: 2">
          <img src="/images/cards/3H.png">
        </div>
        <div class="cards" value="3" style="z-index: 3">
          <img src="/images/cards/4H.png">
        </div>
        <div class="cards" value="4" style="z-index: 4">
          <img src="/images/cards/5H.png">
        </div>
        <div class="cards" value="5" style="z-index: 5">
          <img src="/images/cards/6H.png">
        </div>
        <div class="cards" value="6" style="z-index: 6">
          <img src="/images/cards/7H.png">
        </div>
        <div class="cards" value="7" style="z-index: 7">
          <img src="/images/cards/8H.png">
        </div>
        <div class="cards" value="8" style="z-index: 8">
          <img src="/images/cards/9H.png">
        </div>
        <div class="cards" value="9" style="z-index: 9">
          <img src="/images/cards/10H.png">
        </div>
        <div class="cards" value="10" style="z-index: 10">
          <img src="/images/cards/JH.png">
        </div>
        <div class="cards" value="11" style="z-index: 11">
          <img src="/images/cards/QH.png">
        </div>
        <div class="cards" value="12" style="z-index: 12">
          <img src="/images/cards/KH.png">
        </div>
        <div class="cards" value="0" style="z-index: 13">
          <img src="/images/cards/AH.png">
        </div>
        <div class="cards" value="1" style="z-index: 14">
          <img src="/images/cards/2H.png">
        </div>
        <div class="cards" value="2" style="z-index: 15">
          <img src="/images/cards/3H.png">
        </div>
        <div class="cards" value="3" style="z-index: 16">
          <img src="/images/cards/4H.png">
        </div>
        <div class="cards" value="4" style="z-index: 17">
          <img src="/images/cards/5H.png">
        </div>
        <div class="cards" value="5" style="z-index: 18">
          <img src="/images/cards/6H.png">
        </div>
        <div class="cards" value="6" style="z-index: 19">
          <img src="/images/cards/7H.png">
        </div>
        <div class="cards" value="7" style="z-index: 20">
          <img src="/images/cards/8H.png">
        </div>
        <div class="cards" value="8" style="z-index: 21">
          <img src="/images/cards/9H.png">
        </div>
        <div class="cards" value="9" style="z-index: 22">
          <img src="/images/cards/10H.png">
        </div>
        <div class="cards" value="10" style="z-index: 23">
          <img src="/images/cards/JH.png">
        </div>
        <div class="cards" value="11" style="z-index: 24">
          <img src="/images/cards/QH.png">
        </div>
        <div class="cards" value="12" style="z-index: 25">
          <img src="/images/cards/KH.png">
        </div>
      </div>

      <div class='bid-table row'>

        <div class='col p1-score-side'>
          <div class='row'>
            <img src='/images/avatars/avatar.png' />
            <div>
              <p class='p1-score'>9</p>
            </div>
          </div>
        </div>

        <div class='col pile-side'>
          <div class='row'>
            <div class="col">
              <p>Draw</p>
              <i class="fas fa-sort-down"></i>
            </div>
            <div class="col">
              <p>Place</p>
              <i class="fas fa-sort-down"></i>
            </div>
            <div class="w-100"></div>
            <div class='col bid-card draw-pile'>
              <img src='/images/cards/stack-blank.png' />
            </div>
            <div class='col bid-card place-pile'>
              <img src='/images/cards/2C.png' />
            </div>
            <div class="w-100"></div>
            <div class="col turn-alert">
              <h1>Your Turn!</h1>
            </div>
          </div>
        </div>

        <div class='col p2-score-side'>
          <div class='row'>
            <div>
              <p class='p2-score'>10</p>
            </div>
            <img src='/images/avatars/avatar2.png' />
          </div>
        </div>

      </div>

      <div class='p1-hand row id=p2_hand'>
        <div class="cards bot" value="0" style="z-index: 0">
          <img src="/images/cards/AH.png">
        </div>
        <div class="cards bot" value="1" style="z-index: 1">
          <img src="/images/cards/2H.png">
        </div>
        <div class="cards bot" value="2" style="z-index: 2">
          <img src="/images/cards/3H.png">
        </div>
        <div class="cards bot" value="3" style="z-index: 3">
          <img src="/images/cards/4H.png">
        </div>
        <div class="cards bot" value="4" style="z-index: 4">
          <img src="/images/cards/5H.png">
        </div>
        <div class="cards bot" value="5" style="z-index: 5">
          <img src="/images/cards/6H.png">
        </div>
        <div class="cards bot" value="6" style="z-index: 6">
          <img src="/images/cards/7H.png">
        </div>
        <div class="cards bot" value="7" style="z-index: 7">
          <img src="/images/cards/8H.png">
        </div>
        <div class="cards bot" value="8" style="z-index: 8">
          <img src="/images/cards/9H.png">
        </div>
        <div class="cards bot" value="9" style="z-index: 9">
          <img src="/images/cards/10H.png">
        </div>
        <div class="cards bot" value="10" style="z-index: 10">
          <img src="/images/cards/JH.png">
        </div>
        <div class="cards bot" value="11" style="z-index: 11">
          <img src="/images/cards/QH.png">
        </div>
        <div class="cards bot" value="12" style="z-index: 12">
          <img src="/images/cards/KH.png">
        </div>
        <div class="cards bot" value="0" style="z-index: 13">
          <img src="/images/cards/AH.png">
        </div>
        <div class="cards bot" value="1" style="z-index: 14">
          <img src="/images/cards/2H.png">
        </div>
        <div class="cards bot" value="2" style="z-index: 15">
          <img src="/images/cards/3H.png">
        </div>
        <div class="cards bot" value="3" style="z-index: 16">
          <img src="/images/cards/4H.png">
        </div>
        <div class="cards bot" value="4" style="z-index: 17">
          <img src="/images/cards/5H.png">
        </div>
        <div class="cards bot" value="5" style="z-index: 18">
          <img src="/images/cards/6H.png">
        </div>
        <div class="cards bot" value="6" style="z-index: 19">
          <img src="/images/cards/7H.png">
        </div>
        <div class="cards bot" value="7" style="z-index: 20">
          <img src="/images/cards/8H.png">
        </div>
        <div class="cards bot" value="8" style="z-index: 21">
          <img src="/images/cards/9H.png">
        </div>
        <div class="cards bot" value="9" style="z-index: 22">
          <img src="/images/cards/10H.png">
        </div>
        <div class="cards bot" value="10" style="z-index: 23">
          <img src="/images/cards/JH.png">
        </div>
        <div class="cards bot" value="11" style="z-index: 24">
          <img src="/images/cards/QH.png">
        </div>
        <div class="cards bot" value="12" style="z-index: 25">
          <img src="/images/cards/KH.png">
        </div>
      </div>

    </div>
  </body>

</html>
