.board {
  height: 100vh;
  padding: 1.5em 1em;
  background-color: #EE3E40;
}

// Modal
.pop-up {
  position: fixed;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  animation: fadeBG 2s ease forwards;
  background-color: #17020287;
}
@keyframes fadeBG {
  from {
    opacity: 0;
  }
  to {
    opacity: 100%;
  }
}

.pop-up .card {
  border: none;
  border-radius: 1em;
  padding-bottom: 1em;
  animation: fadeIn 1s ease forwards;
}
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(80px);
  }
  to {
    opacity: 100%;
    transform: translateY(0px);
  }
}

.pop-up .card img {
  width: 20vw;
  max-width: 120px;
  margin: 2vh 0 3vh;
}


.pop-up .card-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40vw;
  min-width: 300px;
  text-align: center;
}

.pop-up .card-body button {
  margin-bottom: 0.4em;
}

// P2 Table
.p2-won {
  height: 5vh;
  justify-content: center;
}

.p2-won img {
  width: 16vw;
}

.p2-cards-won {
  width: 16vw;
  margin-left: -5.4em;
  margin-top: -9.7em;
}

.p2-hand {
  height: 20vh;
  padding-left: 10vw;
  justify-content: center;
  align-items: flex-end;
  margin-top: 4vh;
}

.cards {
  width: 15vw;
  margin-left: -5.4em;
}

.top {
  transition: transform 0.5s ease;
}

.bot {
  transition: transform 0.5s ease;
}


.top:hover {
  transform: translateY(-15px);
}

.bot:hover {
  transform: translateY(-15px);
}

.p2-hand img {
  // width: 100%;
  width: 8vw;
}

.centering {
  width: 8vw;
  height: 9vh;
}



// Bidding table
.bid-table {
  height: 50vh;
  align-content: center;
  align-items: center;
}

.bids img {
  width: 15vw;
}

// User Side

.user-scores img {
  width: 9vw;
  margin-left: 3vw;
  margin-top: 2vh;
}

.user-scores p {
  padding: 0 0.2em;
  margin-bottom: 0;
}

.p2-score {
  width: 2.5vw;
}

.p1-score {
  width: 2.5vw;
}

// Bidding Side
.bid-card {
  justify-content: center;
  margin: 1vh 0;
}

// Dealer Side
.dealer-side {
  display: flex;
  align-items: center;
}

.dealer-bid img {
  margin: auto 0;
  width: 15vw;
  text-align: center;
}



// P1 Table

.p1-hand {
  height: 20vh;
  padding-left: 10vw;
  justify-content: center;
  align-items: flex-start;
}

.p1-hand img {
  // width: 100%;
  width: 8vw;
}

.p1-won {
  height: 5vh;
  justify-content: center;
}

.p1-won img {
  width: 16vw;
}

.p1-cards-won {
  width: 16vw;
  margin-left: -5.4em;
}

@media only screen and (max-width: 600px) {
  .cards {
    width: 12vw;
    margin-left: -1.6em;
  }

  .user-scores img {
    margin-left: 7vw;
  }

  .user-scores p {
    font-size: 1em;
  }
}

@media only screen and (min-width: 1024px) {
  .bid-table {
    height: 40vh;
  }

  .p2-hand {
    height: 25vh;
    padding-left: 0;
  }

  .user-scores img {
    width: 5vw;
  }

  .user-scores .row {
    justify-content: flex-end;
  }

  .bids img {
    width: 6vw;
  }

  .p1-hand {
    height: 25vh;
    padding-left: 0;
  }

  .cards {
    width: 5.5vw;
    margin-left: -1.5em
  }

  .dealer-bid img {
    width: 6vw;
  }

}
