.board {
  height: 100vh;
  padding: 1.5em 1em;
  background-color: #EE3E40;
}

// Modal
.pop-up {
  position: fixed;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  background-color: #17020287;
}

.card img {
  width: 20vw;
  max-width: 120px;
  margin: 2vh 0 6vh;
}

// P2 Table
.p2-won {
  height: 5vh;
  justify-content: center;
}

.p2-won img {
  width: 16vw;
}

.p2-cards-won {
  width: 16vw;
  margin-left: -5.4em;
  margin-top: -9.7em;
}

.p2-hand {
  height: 20vh;
  justify-content: center;
  align-items: flex-end;
  margin-top: 4vh;
}

.cards {
  width: 15vw;
  margin-left: -5.4em;
}

.top:hover {
  position: relative;
  top: 10px;
}

.bot:hover {
  position: relative;
  top: -10px;
}

.p2-hand img {
  width: 100%;
}

.centering {
  width: 8vw;
  height: 9vh;
}



// Bidding table
.bid-table {
  height: 50vh;
  align-content: center;
  align-items: center;
}

.bids img {
  width: 15vw;
}

// User Side

.user-scores img {
  width: 9vw;
  margin-left: 3vw;
  margin-top: 2vw;
}

.user-scores p {
  font-size: 1.5em;
}

// Bidding Side
.bid-card {
  justify-content: center;
  margin: 1vh 0;
}

// Dealer Side
.dealer-side {
  display: flex;
  align-items: center;
}

.dealer-bid img {
  margin: auto 0;
  width: 15vw;
  text-align: center;
}



// P1 Table

.p1-hand {
  height: 20vh;
  justify-content: center;
  align-items: flex-start;
}

.p1-hand img {
  width: 100%;
}

.p1-won {
  height: 5vh;
  justify-content: center;
}

.p1-won img {
  width: 16vw;
}

.p1-cards-won {
  width: 16vw;
  margin-left: -5.4em;
}



@media only screen and (min-width: 1024px) {
  .bid-table {
    height: 40vh;
  }

  .p2-hand {
    height: 25vh;
  }

  .user-scores img {
    width: 5vw;
  }

  .user-scores .row {
    justify-content: flex-end;
  }

  .bids img {
    width: 6vw;
  }

  .p1-hand {
    height: 25vh;
  }

  .cards {
    width: 5.5vw;
  }

  .dealer-bid img {
    width: 6vw;
  }

}
