body .game {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: 100vh;
}

#goofButton {
  border: none;
  background-color: transparent;
}

#crazyButton {
  border: none;
  background-color: transparent;
}

.game .card {
  width: 18rem;
  height: 36vh;
  margin: 2vw;
  border: none;
  border-radius: 1em;
  transition: box-shadow 0.5s ease, transform 0.5s ease, box-shadow 0.5s ease;
}

.game .card:hover {
  box-shadow: 10px 10px rgb(165, 36, 38);
  transform: translate(-0.5em,-0.5em);
}

.game .card p {
  line-height: 1.2em;
}

.game .card h1 {
  text-align: center;
  font-size: 1.5em;
}

.game .card img {
  width: 20vw;
  max-width: 120px;
  margin: 2vh 0 6vh;
}

.card-body {
  text-align: center;
}


a {
  color: #181819;
  text-decoration: none;
}

a:hover {
  color: #181819;
  text-decoration: none;
}

@media only screen and (max-width: 1024px) {
  body .game {
    padding-top: 10vh;
  }

  .game .card {
    height: initial;
  }
}

@media only screen and (min-width: 1024px) {
  .game .card {
    height: 55vh;
  }
}
