.card {
  width: 18rem;
  height: 55vh;
  margin: 2vw;
  border: none;
  border-radius: 1em;
  transition: box-shadow 0.5s ease, transform 0.5s ease, box-shadow 0.5s ease;
}

.card p {
  line-height: 1.2em;
}

.card h1 {
  text-align: center;
}

.card img {
  width: 20vw;
  max-width: 120px;
  margin: 2vh 0 6vh;
}

.card-body {
  text-align: center;
}

.card:hover {
  box-shadow: 10px 10px rgb(165, 36, 38);
  transform: translate(-0.5em,-0.5em);
}

a {
  color: #181819;
  text-decoration: none;
}

a:hover {
  color: #181819;
  text-decoration: none;
}


