// See: https://sass-lang.com/

body {

  font-family: 'Montserrat', sans-serif;
  color: white;


  .game {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  h1 {
    color: #244751;
  }


}
